@charset "UTF-8";

/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #8E0124;
    --cor2: #FEFEFE;
    --cor3:#37CA58;
    --cor4: #010522;
}


main{
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* BARRA LATERAL */

.dashboard_sidebar{
    flex-basis: 15%;
    padding: 8px;
    background-color: #010522;
    box-shadow: 0px 10px 10px wheat;
}

.dashboard_sidebar hr{
    border-top: 1px solid white;
    margin: 20px -8px;
    padding: 0px;

    box-shadow: 100px 100px 100px black;
}


.dashboard_sidebar_logo{
    display: flex;
    flex-direction: column;
    
    margin-bottom: 5%;
    border-radius: 10px;

    background-color: rgba(0, 0, 0, 0.461);
}

.dashboard_sidebar_logo h1{
    text-align: center;
    font-size: 2.5em;

    color: #8E0124;
}

.dashboard_sidebar_logo img{
    width: 30%;
    margin: 0 auto;
    border-radius: 50%;
}

.dashboard_sidebar_user {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    padding: 10px;
    border-radius: 0px 10px 20px 0px;
    margin-bottom: 5%;

    background-color: rgba(0, 0, 0, 0.461);
}

.dashboard_sidebar_user img{
    width: 30%;
    border-radius: 50%;
    margin-right: 10px;
}

.dashboard_sidebar_user p{
    font-size: 1.5em;
    color: white;
    border-bottom: 1px solid #8E0124;
}

.dashboard_sidebar_menulist{
    display: flex;
    flex-direction: column;
    padding: 5px;
    font-size: 1.5em;
    overflow-y: auto;
}

.dashboard_sidebar_menulist li, a{
    width: 100%;
}


.dashboard_sidebar_menulist li, a {
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
}

.dashboard_sidebar_menulist li:hover {
    background-color: #37CA58;
    margin: 0 -10px 10px -10px;
    padding: 0px 10px 0px 10px;

}

.dashboard_sidebar_menulist a:hover {
    color: black;
}


/* CONTEUDO */

.dashboard_content{
    height: 100vh;
    flex-basis: 85%;

    background-color: black;
}

.dashboard_content_top a{
    color: red;
}