@charset "UTF-8";

/* CONFIGURAÇÕES GERAIS */
* {
    margin: 0;
    padding: 0;
}

:root{
    --cor1: #8E0124;
    --cor2: #FEFEFE;
    --cor3: #37CA58;
    --cor4: #010522;
}

main {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

/* CONTEUDO */

.dashboard_content_conteiner {
    flex-basis: 85%;
    background-color: #f4f6f9;
}

.dashboard_topNav {
    padding: 20px;
    background-color: white;
}

.dashboard_topNav i {
    color: #010522;
    font-size: 20px;
    text-decoration: none;

}

.dashboard_topNav i:hover {
    cursor: pointer;

}

#logoutBtn{
    float: right;
}

.dashboard_content{
    height: 100vh;
    padding: 20px;
    height: calc(100vh - 2000px);
}

.dashboard_content_main{
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}